.loginContainer{
    background: url(../public/bg-icon-1.png) repeat;
    min-height: 100vh;
    box-sizing: border-box;
}
.loginContainer_in{
    background: #ffffff;
    border: 1px solid #dfdfdf;
    max-width: 410px;
    margin: auto;
    padding: 30px;
    border-radius: 8px;
    font-size: 15px;
    color: #606060;
}
.login_heading{
    font: 600 22px/ 1.25 'Segoe UI';
    display: flex;
    align-items: center;
    gap: 8px 16px;
    color: #303030;
    margin-bottom: 20px;
}
.wrapper{
    display: grid;
    align-items: start;
    gap: 20px;
}
.radioGroup{
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
    margin-top: 4px;
}
.radioGroup input{
    width: 14px;
    height: 14px;
    margin: -2px 4px 0px 0px;
    display: inline-block;
    vertical-align: middle;
}
.inputGroup label {
    display: block;
    font-size: 14px;
    color: #606060;
    position: absolute;
    left: 2px;
    top: 0;
    right: 0;
    line-height: 40px;
    transition: all .3s;
    cursor: text
}
.inputField {
    display: block;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 4px 4px;
    border: none;
    outline: none;
    border-bottom: 1px solid #d8d8d8;
}
textarea.inputField {
    height: 90px;
    padding-top: 10px;
}
.inputGroup:has(.inputField:not(:placeholder-shown), .inputField:focus-visible) label {
    top: -20px;
    font-size: 12px;
    color: #909090
}
.inputField::placeholder {
    font-size: 0;
}
.checkBoxGroup{
    font-size: 0.9em;
    display: flex;
    align-items: start;
    gap: 8px;
}
.poliyText{
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    margin: 3px 0px 0px 0px;
}
.submitButton{
    width: 100%;
    text-align: center;
    display: block;
    padding: 8px 16px;
    background: #f57f25;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 300ms ease-in-out 0ms;
}
.submitButton:hover{
    background: #c96418;
}
.buttonGroup a{
    color: #f57f25;
    font-weight: 500;
    text-decoration: underline;
}
input.inputField::-webkit-outer-spin-button,
input.inputField::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input.inputField {
    -moz-appearance:textfield;
}